
#background{
    left:0;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    background:#f8f8f8;
    background:radial-gradient(to 50%,#c3c3c3,#fff)
}
#background-active{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    transition:opacity 1s ease-in-out;
    &:after{
        content: "";
        opacity: 0.9;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}
#background-active.sun{
    opacity: 1;
    background: url(../img/sun.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .5;
        background:linear-gradient(45deg,#fff02f 0,#fff02f 21%,#00a1ff 100%);
    }
}
#background-active.rain{
    opacity: 1;
    background: url(../img/rain.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        background:linear-gradient(45deg, #2DDA8A 0, #2DDA8A 21%, #11135D 100%);
    }
}
#background-active.snow{
    opacity: 1;
    background: url(../img/snow.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .7;
        background:linear-gradient(45deg, #F3F3F3 0, #F3F3F3 21%, #A5A7FF 100%);
    }
}
#background-active.clouds{
    background:linear-gradient(45deg,#92e1ff 0,#92e1ff 1%,#fff 100%)
}
#background-active.thunderstorm{
    background:linear-gradient(45deg,#000652 0,#000652 21%,#a7a500 100%)
}
#background-active.mist{
    background:linear-gradient(45deg,#909090 0,#909090 21%,#fff 100%)
}