
#background{
    left:0;
    top:0;
    position:fixed;
    width:100%;
    height:100%;
    background: #fff;
}
#background-active{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0;
    &:after{
        content: "";
        opacity: 0.8;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &.bg-0{&:after{background: $bg0;}}
    &.bg-1{&:after{background: $bg1;}}
    &.bg-2{&:after{background: $bg2;}}
    &.bg-3{&:after{background: $bg3;}} // http://uigradients.com/#MinnesotaVikings
    &.bg-4{&:after{background: $bg4;}} // http://uigradients.com/#FreshTurboscent
    &.bg-5{&:after{background: $bg5;}} // http://uigradients.com/#DanceToForget
    &.bg-6{&:after{background: $bg6;}} // http://uigradients.com/#CalmDarya
    &.bg-7{&:after{background: $bg7;}} // http://uigradients.com/#BackToEarth
    &.bg-8{&:after{background: $bg8;}} // http://uigradients.com/#Ukraine
    &.bg-9{&:after{background: $bg9;}} // http://uigradients.com/#EndlessRiver
}
#background-active.clear{
    opacity: 1;
    background: url(../img/sun.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .5;
        // background:linear-gradient(45deg,#fff02f 0,#fff02f 21%,#00a1ff 100%);
    }
}
#background-active.rain{
    opacity: 1;
    background: url(../img/rain.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        // background:linear-gradient(45deg, #2DDA8A 0, #2DDA8A 21%, #11135D 100%);
    }
}
#background-active.snow{
    opacity: 1;
    background: url(../img/snow.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .7;
        // background:linear-gradient(45deg, #F3F3F3 0, #F3F3F3 21%, #A5A7FF 100%);
    }
}
#background-active.clouds{
    opacity: 1;
    background: url(../img/clouds.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .85;
        // background:linear-gradient(45deg, #FFD53A 0, #FFD53A 21%, #686CFF 100%)
    }
}
#background-active.thunderstorm{
    opacity: 1;
    background: url(../img/thunderstorm.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .7;
        // background:linear-gradient(45deg, #1B1B1B 0, #1B1B1B 21%, #6B0031 100%);
    }
}
#background-active.mist{
    opacity: 1;
    background: url(../img/mist.jpg) no-repeat center center;
    background-size: cover;
    &:after{
        opacity: .6;
        // background:linear-gradient(45deg, #1B1B1B 0, #394071 21%, #FFFFFF 100%)
    }
}