

#logo{
    width: 250px;
    opacity: 1;
    position: absolute;
    z-index: 99;
    left: 30px;
    top: 20px;
}

#info-meteo{
    flex-direction: column-reverse;
    align-items: center;
    right: 30px;
    top: 8px;
    z-index: 99;
    position: absolute;
    display: flex;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    opacity: 0;
    &.active{
        opacity: 1;
    }
}

#info-meteo-text{
    font-weight: 300;
    font-size: 25px;
}

#info-meteo-icon{
    width: 55px;
    margin-bottom: 5px;
    svg{
        width: 100%;
    }
}