#preloader-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  top: 0;
  left: 0;
  z-index: 999;
  transition: all .5s ease-out;
  transform: translateZ(0);
  backface-visibility: hidden;
  &.loaded{
    opacity: 0;
    z-index: 0;
  }
}

#preloader{
  border-radius: 100px;
  height: 100px;
  width: 100px;
  left: 50%;
  top: 50%;
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%,-50%) translateZ(0) scale(1.3);

  background:linear-gradient(45deg, #2DDA8A 0, #2DDA8A 21%, #11135D 100%);
  backface-visibility: hidden;
  &.active{
    opacity: 1;
    transform: translate(-50%,-50%) translateZ(0) scale(1);
    transition: all .3s cubic-bezier(0.390, 0.575, 0.435, 1.480);
  }
  &.active-loaded{
    opacity: 0;
    transition: all .5s ease-in;
    transform: translate(-50%,-50%) translateZ(0) scale(0.6);
  }
  .offline &{
    display: none;
  }
  svg{
    fill: #fff;
    display: block;
    width: 80px;
    height: 50px;
  }
  .path-1, .path-2, .path-3{
    stroke-dashoffset: 0;
    stroke-dasharray: 12px;
    animation: slide 1.2s ease-in-out infinite;
  }
}

@keyframes slide {
  from{
    stroke-dashoffset: 0;
  }
  to{
    stroke-dashoffset: 24px;
  }
}