#song{
    width: 300px;
    perspective: 1200px;
    margin: 75px 0 150px;
    img{
        display: block;
        width: 100%;
        max-width: 100%;
    }
    #card{
        background: #282828;
        display: block;
        transform: rotateY(-40deg);
        transform-style: preserve-3d;
        transition: all 1s ease-out;
        opacity: 0;
        box-shadow: 0 0 0 5px rgba(0,0,0,0.1);
        &.flipped{
            opacity: 1;
            transform: rotateY(0deg);
        }
        &:hover{
            #song-replay{
                transform: translateX(-50%) translateY(0%);
                opacity: 1;
            }
        }
    }

}

#song-details{
    opacity: 0;
    position: absolute;
    text-align: center;
    transition: opacity .5s ease-out, transform 1s ease-out;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    top: 106%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%) translateY(-5%);
    &.active{
        transform: translateX(-50%) translateY(0%);
        opacity: 1;
    }
}

#song-details.active #song-name, #song-details.active #song-album{
    opacity: 1;
}

#song-name{
    font-weight: 300;
    text-transform: uppercase;
    opacity: 0;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#song-album{
    opacity: 0;
    margin-top: 5px;
    font-size: 12px;
}

#song-play{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    .play{
        color: #fff;
        width: 50px;
        height: 50px;
        background: #2ebd59;
        font-size: 14px;
        line-height: 50px;
        border-radius: 500px;
        display: block;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color .15s ease;
        &:after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent;
            border-left: 13px solid #fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-40%,-50%);
        }
    }

    .play:hover{
        background: #1ed760;
    }
}

#song-replay{
    opacity: 0;
    background: rgba(0,0,0,0.4);
    width: 19px;
    height: 19px;
    padding: 6px;
    border-radius: 100px;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translateX(-50%) translateY(20%);
    cursor: pointer;
    transition: all .2s ease-out;
    &:hover{
        background: rgba(0,0,0,0.8);
    }
}