@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*
   Custom CSS
*/

html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}

body{
}

#app{
    min-height: 100%;
    margin: 0 auto -50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#push{
    height: 50px;
}

#footer{
    height: 50px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

#footer svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%);
    width: 16px;
    height: 17px;
}

#footer:hover #footer-info{
    transform: translateY(0%);
}

#footer-info{
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #232323;
    color: #fff;
    transform: translateY(80%);
    transition: all .2s ease-in-out;
}

#footer-info p{
    margin: 0 auto;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.2;
}

#footer-info a{
    color: #fff;
    text-decoration: underline;
}

#header{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 9999;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

#logo{
    width: 160px;
    opacity: .5;
}

#info-meteo{
    opacity: .5;
    display: flex;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
}

.play{
    color: #fff;
    text-decoration: none;
    background: #2ebd59;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 500px;
    padding: 7px 35px 7px;
    margin-top: 10px;
    display: inline-block;
    transition: background-color .15s ease;
    letter-spacing: 1.2px;
    min-width: 130px;
    text-transform: uppercase;
    white-space: normal;
}

.play:hover{
    background: #1ed760;
}