html, body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
}



#app{
    min-height: 100%;
    margin: 0 auto -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.offline{
        #background-active{
            opacity:1;
            background:linear-gradient(45deg,#fff02f 0,#fff02f 21%,#00a1ff 100%)
        }
        #logo{
            top: 50%;
            left: 50%;
            width: 285px;
            transform: translate(-50%,-50%);
            &:after{
                content: "Unable to connect to the Internet";
                margin-top: 6px;
                display: block;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                text-align: center;
            }
        }
    }
}

#push{
    height: 50px;
}

.meteo-icon{
    display: none;
    &.active{
        display: inline-block;
    }
}

.share {
    margin-top: 12px;
    &-link {
        cursor: pointer;
    }
    &-twitter{
        font-size: 12px;
        position: relative;
        padding: 7px 10px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        background: #1b95e0;
        border-radius: 3px;
        box-sizing: border-box;
        display: inline-flex;
        align-items: center;
        text-transform: capitalize;
        letter-spacing: 1px;
        transition: background .05s ease-in-out;
        &:hover{
            background: #0078c2;
        }
        svg{
            width: 15px;
            display: inline-block;
            margin-right: 4px;
        }
    }
}
